.formidable_managesearchbox { border:solid black thin; position:absolute; background-color:#F3F3F3; display:none; z-index:50000; padding:10px; }
.formidable_managesearchbox hr { color: black; background-color: black; height: 1px; border: 0; }
